@import './variables';
@import './mixins';
@import './common';
@import './blocks/main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color, #fff);
  color: var(--text-main-color, #fff);
}

img,
svg {
  width: 100%;
}